/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64); */

  --transparent: #000000;
  --BG-color-1: #E4E4E4;
  --BG-color-3: #BEE3CF;
  --BG-color-2: #FFFFFF;
  --BG-color-4: #FFFFFF33;
  --Text-1: #000000;
  --Text-alpha-25: #00000040;
  --Text-3: #909399;
  --Text-4: #606266;
  --Black: #000000;
  --Black-alhpa-50: #00000080;
  --Primary: #409EFF;
  --Border-1: #DCDFE6;
  --Text-5: #333333;

  --Font-family-zh: "Arial";
  --Font-family-en: "Times New Roman";
}

/* semantic color variables for this project */
:root {
  /* --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2); */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-user-select: none;
  user-select: none;
}

body {
  position: relative;
  /* color: var(--color-text);background: var(--color-background); */
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* display: flex;
    align-items: center;
    justify-content: center; */
}